:root {
    /* Estas variables estaran en todos los archivos por temas de compatibilidad con iOS */
    /* Utilizando la prop de claro y oscuro para el navegador */
    color-scheme: light dark;

    /* new colors */
    --textColorLight: #252422;
    --textColorDark: #E6FAFC;
    --backColorLight: #F5F5F5;
    --backColorDark: #121212;
    --firstColorLight: #9D1B2C;
    --firstColorDark: #9CFC97;
    --secondColorLight: #fff0f3;
    --secondColorDark: #181F1C;

    /* fonts */
    --nunitoFont: "Nunito", sans-serif;
}

/* post */

.post {
    display: flex;
    width: 100%;
    height: 40vh;
}

.post .side {
    width: 50%;
    height: 100%;
}

/* tabla */

.table {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    width: 90%;
    height: fit-content;
}

/* Carta */

.card {
    margin: 5% auto;
    padding: 5% 0px;
    width: 90%;
    background-color: light-dark(var(--secondColorLight), var(--secondColorDark));
    border-radius: 16px;
}