body {
    background-color: light-dark(var(--backColorLight), var(--backColorDark));
}

.special {
    color: light-dark(var(--firstColorLight), var(--firstColorDark));
}

/* Welcome */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: light-dark(var(--secondColorLight), var(--secondColorDark));
}

.hero>.logo {
    width: 15vw;
    fill: light-dark(var(--firstColorLight), var(--firstColorDark));
}

.hero>h1 {
    font-family: var(--nunitoFont);
    font-size: calc(2vw + 2vh);
    color: light-dark(var(--textColorLight), var(--textColorDark));
}

.hero>h2 {
    font-family: var(--nunitoFont);
    font-size: calc(1.5vw + 1vh);
    color: light-dark(var(--textColorLight), var(--textColorDark));
}

/* section */

section.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.list h2 {
    padding: 3.5% 0px;
    color: light-dark(var(--textColorLight), var(--textColorDark));
    font-family: var(--nunitoFont);
    font-size: calc(1.5vw + 1.5vh);
}

section.list p {
    text-align: center;
    width: 60%;
    color: light-dark(var(--textColorLight), var(--textColorDark));
    font-family: var(--nunitoFont);
    font-size: calc(1vw + 1vh);
}

/* Tabla de herramientas */

.table {
    margin-top: 10%;
}

/* Overwrite Card */

a.card {
    text-decoration: none;
}

a.card:hover .info h3 {
    color: light-dark(var(--firstColorLight), var(--firstColorDark));
}

.card .info {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.card .info h3 {
    color: light-dark(var(--textColorLight), var(--textColorDark));
    font-family: var(--nunitoFont);
    font-size: calc(2vw + 1vh);
}

.card .info p {
    color: light-dark(var(--textColorLight), var(--textColorDark));
    font-family: var(--nunitoFont);
    font-size: calc(1vw + 1vh);
}

@media screen and (max-width: 600px) {
    .hero {
        height: 40vh;
    }

    section.list p {
        width: 80%;
    }

    .table {
        grid-template-columns: 1fr;
    }
}