/* Resets */

* {
    margin: 0%;
    padding: 0%;
}

/* Variables */

:root {
    /* Utilizando la prop de claro y oscuro para el navegador */
    color-scheme: light dark;

    /* new colors */
    --textColorLight: #252422;
    --textColorDark: #E6FAFC;
    --backColorLight: #F5F5F5;
    --backColorDark: #121212;
    --firstColorLight: #BA1F33;
    --firstColorDark: #9CFC97;
    --secondColor: #110B11;

    /* fonts */
    --nunitoFont: "Nunito", sans-serif;
}

body {
    height: 100vh;
}

.special {
    color: light-dark(var(--firstColorLight), var(--firstColorDark));
}

/* inicio */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: light-dark(var(--backColorLight), var(--backColorDark));
}

.hero>img {
    width: 15vw;
}

.hero>h1 {
    font-family: var(--nunitoFont);
    font-size: calc(2vw + 2vh);
    color: light-dark(var(--textColorLight), var(--textColorDark));
}

.hero>h2 {
    font-family: var(--nunitoFont);
    font-size: calc(1.5vw + 1vh);
    color: light-dark(var(--textColorLight), var(--textColorDark));
}

@media screen and (max-width: 600px) {
    
}