/* Variables, importaciones, colores que se comparten en todas las paginas */

/* imports */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Resets */

* {
    margin: 0%;
    padding: 0%;
}

:root {
    /* Utilizando la prop de claro y oscuro para el navegador */
    color-scheme: light dark;

    /* new colors */
    --textColorLight: #252422;
    --textColorDark: #E6FAFC;
    --backColorLight: #F5F5F5;
    --backColorDark: #121212;
    --firstColorLight: #BA1F33;
    --firstColorDark: #9CFC97;
    --secondColorLight: #FFEBEF;
    --secondColorDark: #181F1C;

    /* fonts */
    --nunitoFont: "Nunito", sans-serif;
}

body {
    min-height: 100vh;
}