:root {
    /* Estas variables estaran en todos los archivos por temas de compatibilidad con iOS */
    /* Utilizando la prop de claro y oscuro para el navegador */
    color-scheme: light dark;

    /* new colors */
    --textColorLight: #252422;
    --textColorDark: #E6FAFC;
    --backColorLight: #F5F5F5;
    --backColorDark: #121212;
    --firstColorLight: #9D1B2C;
    --firstColorDark: #9CFC97;
    --secondColorLight: #fff0f3;
    --secondColorDark: #181F1C;

    /* fonts */
    --nunitoFont: "Nunito", sans-serif;
}

/* Este documento css esta reservado para modificar solo la barra de navegacion */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: light-dark(rgba(186, 31, 51, 0.7), rgba(156, 252, 151, 0.7));
}

nav a {
    margin: 0px 1%;
    padding: 1% 3%;
    text-decoration: none;
    color: light-dark(var(--textColorDark), var(--textColorLight));
    font-family: sans-serif;
    font-size: calc(1vw + 1vh);
    border-radius: 8px;
}

nav a .icon {
    width: calc(1vw + 1vh);
    fill: light-dark(var(--textColorDark), var(--textColorLight));
}

nav a:hover {
    color: light-dark(var(--textColorLight), var(--textColorDark));
    background-color: light-dark(var(--secondColorLight), var(--secondColorDark));
}

nav a:hover .icon {
    fill: light-dark(var(--textColorLight), var(--textColorDark));
}

@media screen and (max-width: 600px) {
    nav {
        height: 5vh;
    }

    nav a {
        padding: 3% 5%;
    }
}